<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/lodash/lodash.min.js"></script>
  <script src="node_modules/director/build/director.min.js"></script>
  <script src="index.js"></script>
</head>
<body>
  <header></header>
  <div id='page-wrapper'></div>
  <script type="text/template" id="search-page">
      User name: <input id="userName" type="text" name="fname"><br>
      <input type="submit" value="Submit" id="submit">
  </script>
  <script type="text/template" id="results-page">
    Here is the repo list:
    <div class="loader"></div>
      <div id='repos-wrapper'>

    </div>
  </script>
  <script type="text/template" id="repo-list">
    <% for(var i=0; i<repositoryList.length; i++) {%>
      <div class='repository'><%= repositoryList[i].name %></div>
    <% } %>
  </script>
  <script type="text/template" id="user-not-exist">
   404 (Not Found)
  </script>
</body>
</html>
